* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: grey;
    border: 3px solid black;
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
}

.navbar {
    background-color: skyblue;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a {
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.navbar button {
    background-color: skyblue;
    font-size: 30px;
    color: white;
    margin: 10px;
}

#profile {
    font-size: 50px;
}

.navleft {
    background-color: aqua;
    border: 3px solid black;
    min-width: 800px;
    margin: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
}

.navright {
    background-color: aqua;
    border: 3px solid black;
    min-width: 400px;
    margin: 0px 30px 0px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    background-color: lightgreen;
    border: 3px solid black;
    min-height: 800px;
    display: Flex;
    justify-content: center;
}

.leftcolumn {
    background-color: aqua;
    border: 3px solid black;
    min-width: 800px;
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
}

.rightcolumn {
    background-color: aqua;
    border: 3px solid black;
    min-width: 400px;
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
}

.usercard {
    background-color: magenta;
    border: 3px solid black;
    min-height: 400px;
    margin-bottom: 40px;
}

.education {
    background-color: indianred;
    border: 3px solid black;
    min-height: 200px;
}

.requests {
    background-color: goldenrod;
    border: 3px solid black;
    min-height: 200px;
    margin-bottom: 40px;
}

.connection {
    background-color: coral;
    border: 3px solid black;
    min-height: 300px;
}